# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
/.idea/dictionaries/
.navigation/
captures/
.externalNativeBuild
.cxx

# Build outputs
**/build/
*.apk
*.aar
*.ap_
*.aab

# OS specific files
.DS_Store
Thumbs.db

# Log Files
*.log
